/* CSS Document */
header{
    background-color: lightpink;
    color: #FFFFFF;
    text-align: center;

}
main {
    padding: 50px;
    background-color: #EEC6C5;
}
main section {
    background-color: #CB4E6D;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
}
main section h2 {
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
}
footer {
    height: 100px;
    background-color: #FFB6C1;
}




he {
}


h1   {
    text-decoration: none;
    padding: 20px;
    font-size: 36px;
    width: 1024px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #CB4E6D;
}
header, nav, main, footer {
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
}
nav {
    height: 50px;
    background-color: #CB4E6D;
}
body footer h6 {
    background-color: #CB4E6D;
    color: #FFFFFF;
    font-size: large;
    text-align: left;
    height: 50px;
    margin: 0 auto;
    width: 100%;
}
th {
    background-color: #7E597C;
    color: #FFFFFF;
}
td {
    background-color: #F8CDE0;
    text-align: center;
}
p {
    margin: 20px;
    color: #FFFFFF;
    font-size: 18px;

}
nav li  {
    width: 100px;
    height: 20px;
    background-color: #6A638C;
    border-radius: 15px;
    display: inline-table;
    text-align: center;
    color: #FFFFFF;
}
nav ul {
    text-transform: capitalize;
    text-shadow: 0px 0px;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;

}
a {
    color: #FFFFFF;
    text-decoration: none;
}
